.body {
  background-color: black;

}
.algo{
  height: 500px;
}
.navbar{
  height: 100px;
}

h6{
  color:blue;
}

.algo{
  height: 670px;
}
.card{
  text-align: auto;
  height: 300px;
  width: 300px;
  padding: 1px 1em 0 2em;
}

.vejaMais{
  text-align: center;
  text-shadow: none;
}

.vejaMais1{
  text-align: center;
  text-shadow: none;
 
}

.texto-medico{
  text-align: center;
  
}

.card-{
  text-align: center;
}

.medico-sorrindo{
  height: 270px;
  width: 410px;
  text-align: auto;
  margin-left: 0%;
  margin-right: 70%;
  margin-block-end: -12%;
}



div{
 



  /*textando aq antriormente*/
}


.brilho{
  margin-left: 20%;
  margin-right: -40%;
  margin-top: -20%;
  margin-block-end: auto;


}

.tratamento{
  text-align: center;
  margin-top: 1%;
  margin-top: -10%;
}


.Alinhador{
  text-decoration-style: solid;
}


